/deployment/publish/FetchResults/Azure.Core.dll
/deployment/publish/GenerateImage/.azurefunctions/Azure.Core.dll
/deployment/publish/GenerateImage/Azure.Core.dll
/deployment/publish/ProcessJob/.azurefunctions/Azure.Core.dll
/deployment/publish/ProcessJob/Azure.Core.dll
/deployment/publish/StartJob/Azure.Core.dll
/deployment/publish/FetchResults/Azure.Data.Tables.dll
/deployment/publish/GenerateImage/Azure.Data.Tables.dll
/deployment/publish/ProcessJob/Azure.Data.Tables.dll
/deployment/publish/StartJob/Azure.Data.Tables.dll
/deployment/publish/GenerateImage/.azurefunctions/Azure.Identity.dll
/deployment/publish/ProcessJob/.azurefunctions/Azure.Identity.dll
/deployment/publish/FetchResults/Azure.Storage.Blobs.dll
/deployment/publish/GenerateImage/Azure.Storage.Blobs.dll
/deployment/publish/FetchResults/Azure.Storage.Common.dll
/deployment/publish/GenerateImage/.azurefunctions/Azure.Storage.Common.dll
/deployment/publish/GenerateImage/Azure.Storage.Common.dll
/deployment/publish/ProcessJob/.azurefunctions/Azure.Storage.Common.dll
/deployment/publish/ProcessJob/Azure.Storage.Common.dll
/deployment/publish/StartJob/Azure.Storage.Common.dll
/deployment/publish/GenerateImage/.azurefunctions/Azure.Storage.Queues.dll
/deployment/publish/ProcessJob/.azurefunctions/Azure.Storage.Queues.dll
/deployment/publish/ProcessJob/Azure.Storage.Queues.dll
/deployment/publish/StartJob/Azure.Storage.Queues.dll
/deployment/publish/FetchResults/extensions.json
/deployment/publish/GenerateImage/extensions.json
/deployment/publish/ProcessJob/extensions.json
/deployment/publish/StartJob/extensions.json
/deployment/publish/FetchResults.zip
/deployment/publish/FetchResults/.azurefunctions/function.deps.json
/deployment/publish/GenerateImage/.azurefunctions/function.deps.json
/deployment/publish/ProcessJob/.azurefunctions/function.deps.json
/deployment/publish/StartJob/.azurefunctions/function.deps.json
/deployment/publish/FetchResults/functions.metadata
/deployment/publish/GenerateImage/functions.metadata
/deployment/publish/ProcessJob/functions.metadata
/deployment/publish/StartJob/functions.metadata
/deployment/publish/GenerateImage.zip
/deployment/publish/FetchResults/Google.Protobuf.dll
/deployment/publish/GenerateImage/Google.Protobuf.dll
/deployment/publish/ProcessJob/Google.Protobuf.dll
/deployment/publish/StartJob/Google.Protobuf.dll
/deployment/publish/FetchResults/Grpc.Core.Api.dll
/deployment/publish/GenerateImage/Grpc.Core.Api.dll
/deployment/publish/ProcessJob/Grpc.Core.Api.dll
/deployment/publish/StartJob/Grpc.Core.Api.dll
/deployment/publish/FetchResults/Grpc.Net.Client.dll
/deployment/publish/GenerateImage/Grpc.Net.Client.dll
/deployment/publish/ProcessJob/Grpc.Net.Client.dll
/deployment/publish/StartJob/Grpc.Net.Client.dll
/deployment/publish/FetchResults/Grpc.Net.ClientFactory.dll
/deployment/publish/GenerateImage/Grpc.Net.ClientFactory.dll
/deployment/publish/ProcessJob/Grpc.Net.ClientFactory.dll
/deployment/publish/StartJob/Grpc.Net.ClientFactory.dll
/deployment/publish/FetchResults/Grpc.Net.Common.dll
/deployment/publish/GenerateImage/Grpc.Net.Common.dll
/deployment/publish/ProcessJob/Grpc.Net.Common.dll
/deployment/publish/StartJob/Grpc.Net.Common.dll
/deployment/publish/FetchResults/host.json
/deployment/publish/GenerateImage/host.json
/deployment/publish/ProcessJob/host.json
/deployment/publish/StartJob/host.json
/deployment/publish/GenerateImage/runtimes/win-arm64/native/libSkiaSharp.dll
/deployment/publish/GenerateImage/runtimes/win-x64/native/libSkiaSharp.dll
/deployment/publish/GenerateImage/runtimes/win-x86/native/libSkiaSharp.dll
/deployment/publish/GenerateImage/runtimes/osx/native/libSkiaSharp.dylib
/deployment/publish/GenerateImage/runtimes/linux-arm/native/libSkiaSharp.so
/deployment/publish/GenerateImage/runtimes/linux-arm64/native/libSkiaSharp.so
/deployment/publish/GenerateImage/runtimes/linux-musl-x64/native/libSkiaSharp.so
/deployment/publish/GenerateImage/runtimes/linux-x64/native/libSkiaSharp.so
/deployment/publish/FetchResults/Microsoft.AI.DependencyCollector.dll
/deployment/publish/GenerateImage/Microsoft.AI.DependencyCollector.dll
/deployment/publish/ProcessJob/Microsoft.AI.DependencyCollector.dll
/deployment/publish/StartJob/Microsoft.AI.DependencyCollector.dll
/deployment/publish/FetchResults/Microsoft.AI.EventCounterCollector.dll
/deployment/publish/GenerateImage/Microsoft.AI.EventCounterCollector.dll
/deployment/publish/ProcessJob/Microsoft.AI.EventCounterCollector.dll
/deployment/publish/StartJob/Microsoft.AI.EventCounterCollector.dll
/deployment/publish/FetchResults/Microsoft.AI.PerfCounterCollector.dll
/deployment/publish/GenerateImage/Microsoft.AI.PerfCounterCollector.dll
/deployment/publish/ProcessJob/Microsoft.AI.PerfCounterCollector.dll
/deployment/publish/StartJob/Microsoft.AI.PerfCounterCollector.dll
/deployment/publish/FetchResults/Microsoft.AI.ServerTelemetryChannel.dll
/deployment/publish/GenerateImage/Microsoft.AI.ServerTelemetryChannel.dll
/deployment/publish/ProcessJob/Microsoft.AI.ServerTelemetryChannel.dll
/deployment/publish/StartJob/Microsoft.AI.ServerTelemetryChannel.dll
/deployment/publish/FetchResults/Microsoft.AI.WindowsServer.dll
/deployment/publish/GenerateImage/Microsoft.AI.WindowsServer.dll
/deployment/publish/ProcessJob/Microsoft.AI.WindowsServer.dll
/deployment/publish/StartJob/Microsoft.AI.WindowsServer.dll
/deployment/publish/FetchResults/Microsoft.ApplicationInsights.dll
/deployment/publish/GenerateImage/Microsoft.ApplicationInsights.dll
/deployment/publish/ProcessJob/Microsoft.ApplicationInsights.dll
/deployment/publish/StartJob/Microsoft.ApplicationInsights.dll
/deployment/publish/FetchResults/Microsoft.ApplicationInsights.WorkerService.dll
/deployment/publish/GenerateImage/Microsoft.ApplicationInsights.WorkerService.dll
/deployment/publish/ProcessJob/Microsoft.ApplicationInsights.WorkerService.dll
/deployment/publish/StartJob/Microsoft.ApplicationInsights.WorkerService.dll
/deployment/publish/FetchResults/Microsoft.Azure.Functions.Worker.ApplicationInsights.dll
/deployment/publish/GenerateImage/Microsoft.Azure.Functions.Worker.ApplicationInsights.dll
/deployment/publish/ProcessJob/Microsoft.Azure.Functions.Worker.ApplicationInsights.dll
/deployment/publish/StartJob/Microsoft.Azure.Functions.Worker.ApplicationInsights.dll
/deployment/publish/FetchResults/Microsoft.Azure.Functions.Worker.Core.dll
/deployment/publish/GenerateImage/Microsoft.Azure.Functions.Worker.Core.dll
/deployment/publish/ProcessJob/Microsoft.Azure.Functions.Worker.Core.dll
/deployment/publish/StartJob/Microsoft.Azure.Functions.Worker.Core.dll
/deployment/publish/FetchResults/Microsoft.Azure.Functions.Worker.dll
/deployment/publish/GenerateImage/Microsoft.Azure.Functions.Worker.dll
/deployment/publish/ProcessJob/Microsoft.Azure.Functions.Worker.dll
/deployment/publish/StartJob/Microsoft.Azure.Functions.Worker.dll
/deployment/publish/FetchResults/Microsoft.Azure.Functions.Worker.Extensions.Abstractions.dll
/deployment/publish/GenerateImage/Microsoft.Azure.Functions.Worker.Extensions.Abstractions.dll
/deployment/publish/ProcessJob/Microsoft.Azure.Functions.Worker.Extensions.Abstractions.dll
/deployment/publish/StartJob/Microsoft.Azure.Functions.Worker.Extensions.Abstractions.dll
/deployment/publish/FetchResults/.azurefunctions/Microsoft.Azure.Functions.Worker.Extensions.dll
/deployment/publish/GenerateImage/.azurefunctions/Microsoft.Azure.Functions.Worker.Extensions.dll
/deployment/publish/ProcessJob/.azurefunctions/Microsoft.Azure.Functions.Worker.Extensions.dll
/deployment/publish/StartJob/.azurefunctions/Microsoft.Azure.Functions.Worker.Extensions.dll
/deployment/publish/FetchResults/Microsoft.Azure.Functions.Worker.Extensions.Http.AspNetCore.dll
/deployment/publish/GenerateImage/Microsoft.Azure.Functions.Worker.Extensions.Http.AspNetCore.dll
/deployment/publish/ProcessJob/Microsoft.Azure.Functions.Worker.Extensions.Http.AspNetCore.dll
/deployment/publish/StartJob/Microsoft.Azure.Functions.Worker.Extensions.Http.AspNetCore.dll
/deployment/publish/FetchResults/Microsoft.Azure.Functions.Worker.Extensions.Http.dll
/deployment/publish/GenerateImage/Microsoft.Azure.Functions.Worker.Extensions.Http.dll
/deployment/publish/ProcessJob/Microsoft.Azure.Functions.Worker.Extensions.Http.dll
/deployment/publish/StartJob/Microsoft.Azure.Functions.Worker.Extensions.Http.dll
/deployment/publish/FetchResults/.azurefunctions/Microsoft.Azure.Functions.Worker.Extensions.pdb
/deployment/publish/GenerateImage/.azurefunctions/Microsoft.Azure.Functions.Worker.Extensions.pdb
/deployment/publish/ProcessJob/.azurefunctions/Microsoft.Azure.Functions.Worker.Extensions.pdb
/deployment/publish/StartJob/.azurefunctions/Microsoft.Azure.Functions.Worker.Extensions.pdb
/deployment/publish/GenerateImage/Microsoft.Azure.Functions.Worker.Extensions.Storage.Blobs.dll
/deployment/publish/StartJob/Microsoft.Azure.Functions.Worker.Extensions.Storage.Blobs.dll
/deployment/publish/GenerateImage/Microsoft.Azure.Functions.Worker.Extensions.Storage.Queues.dll
/deployment/publish/ProcessJob/Microsoft.Azure.Functions.Worker.Extensions.Storage.Queues.dll
/deployment/publish/StartJob/Microsoft.Azure.Functions.Worker.Extensions.Storage.Queues.dll
/deployment/publish/FetchResults/Microsoft.Azure.Functions.Worker.Grpc.dll
/deployment/publish/GenerateImage/Microsoft.Azure.Functions.Worker.Grpc.dll
/deployment/publish/ProcessJob/Microsoft.Azure.Functions.Worker.Grpc.dll
/deployment/publish/StartJob/Microsoft.Azure.Functions.Worker.Grpc.dll
/deployment/publish/FetchResults/.azurefunctions/Microsoft.Azure.WebJobs.Extensions.FunctionMetadataLoader.dll
/deployment/publish/GenerateImage/.azurefunctions/Microsoft.Azure.WebJobs.Extensions.FunctionMetadataLoader.dll
/deployment/publish/ProcessJob/.azurefunctions/Microsoft.Azure.WebJobs.Extensions.FunctionMetadataLoader.dll
/deployment/publish/StartJob/.azurefunctions/Microsoft.Azure.WebJobs.Extensions.FunctionMetadataLoader.dll
/deployment/publish/GenerateImage/.azurefunctions/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.dll
/deployment/publish/ProcessJob/.azurefunctions/Microsoft.Azure.WebJobs.Extensions.Storage.Queues.dll
/deployment/publish/FetchResults/.azurefunctions/Microsoft.Azure.WebJobs.Host.Storage.dll
/deployment/publish/GenerateImage/.azurefunctions/Microsoft.Azure.WebJobs.Host.Storage.dll
/deployment/publish/ProcessJob/.azurefunctions/Microsoft.Azure.WebJobs.Host.Storage.dll
/deployment/publish/StartJob/.azurefunctions/Microsoft.Azure.WebJobs.Host.Storage.dll
/deployment/publish/FetchResults/Microsoft.Bcl.AsyncInterfaces.dll
/deployment/publish/GenerateImage/.azurefunctions/Microsoft.Bcl.AsyncInterfaces.dll
/deployment/publish/GenerateImage/Microsoft.Bcl.AsyncInterfaces.dll
/deployment/publish/ProcessJob/.azurefunctions/Microsoft.Bcl.AsyncInterfaces.dll
/deployment/publish/ProcessJob/Microsoft.Bcl.AsyncInterfaces.dll
/deployment/publish/StartJob/Microsoft.Bcl.AsyncInterfaces.dll
/deployment/publish/GenerateImage/.azurefunctions/Microsoft.Extensions.Azure.dll
/deployment/publish/ProcessJob/.azurefunctions/Microsoft.Extensions.Azure.dll
/deployment/publish/FetchResults/Microsoft.Extensions.Logging.ApplicationInsights.dll
/deployment/publish/GenerateImage/Microsoft.Extensions.Logging.ApplicationInsights.dll
/deployment/publish/ProcessJob/Microsoft.Extensions.Logging.ApplicationInsights.dll
/deployment/publish/StartJob/Microsoft.Extensions.Logging.ApplicationInsights.dll
/deployment/publish/GenerateImage/.azurefunctions/Microsoft.Identity.Client.dll
/deployment/publish/ProcessJob/.azurefunctions/Microsoft.Identity.Client.dll
/deployment/publish/GenerateImage/.azurefunctions/Microsoft.Identity.Client.Extensions.Msal.dll
/deployment/publish/ProcessJob/.azurefunctions/Microsoft.Identity.Client.Extensions.Msal.dll
/deployment/publish/ProcessJob/.azurefunctions/Microsoft.IdentityModel.Abstractions.dll
/deployment/publish/FetchResults/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/deployment/publish/FetchResults/Microsoft.Win32.SystemEvents.dll
/deployment/publish/GenerateImage/runtimes/win/lib/net8.0/Microsoft.Win32.SystemEvents.dll
/deployment/publish/GenerateImage/Microsoft.Win32.SystemEvents.dll
/deployment/publish/ProcessJob/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/deployment/publish/ProcessJob/Microsoft.Win32.SystemEvents.dll
/deployment/publish/StartJob/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/deployment/publish/StartJob/Microsoft.Win32.SystemEvents.dll
/deployment/publish/FetchResults/.azurefunctions/Microsoft.WindowsAzure.Storage.dll
/deployment/publish/GenerateImage/.azurefunctions/Microsoft.WindowsAzure.Storage.dll
/deployment/publish/ProcessJob/.azurefunctions/Microsoft.WindowsAzure.Storage.dll
/deployment/publish/StartJob/.azurefunctions/Microsoft.WindowsAzure.Storage.dll
/deployment/publish/ProcessJob.zip
/deployment/publish/GenerateImage/SixLabors.Fonts.dll
/deployment/publish/GenerateImage/SixLabors.ImageSharp.dll
/deployment/publish/GenerateImage/SixLabors.ImageSharp.Drawing.dll
/deployment/publish/GenerateImage/SkiaSharp.dll
/deployment/publish/StartJob.zip
/deployment/publish/FetchResults/System.ClientModel.dll
/deployment/publish/GenerateImage/System.ClientModel.dll
/deployment/publish/ProcessJob/.azurefunctions/System.ClientModel.dll
/deployment/publish/ProcessJob/System.ClientModel.dll
/deployment/publish/StartJob/System.ClientModel.dll
/deployment/publish/FetchResults/System.Configuration.ConfigurationManager.dll
/deployment/publish/GenerateImage/System.Configuration.ConfigurationManager.dll
/deployment/publish/ProcessJob/System.Configuration.ConfigurationManager.dll
/deployment/publish/StartJob/System.Configuration.ConfigurationManager.dll
/deployment/publish/FetchResults/runtimes/win/lib/net6.0/System.Diagnostics.PerformanceCounter.dll
/deployment/publish/FetchResults/System.Diagnostics.PerformanceCounter.dll
/deployment/publish/GenerateImage/runtimes/win/lib/net6.0/System.Diagnostics.PerformanceCounter.dll
/deployment/publish/GenerateImage/System.Diagnostics.PerformanceCounter.dll
/deployment/publish/ProcessJob/runtimes/win/lib/net6.0/System.Diagnostics.PerformanceCounter.dll
/deployment/publish/ProcessJob/System.Diagnostics.PerformanceCounter.dll
/deployment/publish/StartJob/runtimes/win/lib/net6.0/System.Diagnostics.PerformanceCounter.dll
/deployment/publish/StartJob/System.Diagnostics.PerformanceCounter.dll
/deployment/publish/FetchResults/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/deployment/publish/FetchResults/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/deployment/publish/FetchResults/System.Drawing.Common.dll
/deployment/publish/GenerateImage/System.Drawing.Common.dll
/deployment/publish/ProcessJob/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/deployment/publish/ProcessJob/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/deployment/publish/ProcessJob/System.Drawing.Common.dll
/deployment/publish/StartJob/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/deployment/publish/StartJob/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/deployment/publish/StartJob/System.Drawing.Common.dll
/deployment/publish/FetchResults/System.IO.Hashing.dll
/deployment/publish/GenerateImage/System.IO.Hashing.dll
/deployment/publish/ProcessJob/.azurefunctions/System.IO.Hashing.dll
/deployment/publish/ProcessJob/System.IO.Hashing.dll
/deployment/publish/StartJob/System.IO.Hashing.dll
/deployment/publish/FetchResults/System.Memory.Data.dll
/deployment/publish/GenerateImage/System.Memory.Data.dll
/deployment/publish/ProcessJob/System.Memory.Data.dll
/deployment/publish/StartJob/System.Memory.Data.dll
/deployment/publish/FetchResults/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/deployment/publish/FetchResults/System.Security.Cryptography.ProtectedData.dll
/deployment/publish/GenerateImage/.azurefunctions/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/deployment/publish/GenerateImage/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/deployment/publish/GenerateImage/System.Security.Cryptography.ProtectedData.dll
/deployment/publish/ProcessJob/.azurefunctions/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/deployment/publish/ProcessJob/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/deployment/publish/ProcessJob/System.Security.Cryptography.ProtectedData.dll
/deployment/publish/StartJob/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/deployment/publish/StartJob/System.Security.Cryptography.ProtectedData.dll
/deployment/publish/FetchResults/System.Security.Permissions.dll
/deployment/publish/GenerateImage/System.Security.Permissions.dll
/deployment/publish/ProcessJob/System.Security.Permissions.dll
/deployment/publish/StartJob/System.Security.Permissions.dll
/deployment/publish/FetchResults/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/deployment/publish/FetchResults/System.Windows.Extensions.dll
/deployment/publish/GenerateImage/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/deployment/publish/GenerateImage/System.Windows.Extensions.dll
/deployment/publish/ProcessJob/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/deployment/publish/ProcessJob/System.Windows.Extensions.dll
/deployment/publish/StartJob/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/deployment/publish/StartJob/System.Windows.Extensions.dll
/deployment/publish/FetchResults/WeatherImageGenerator.FetchResults
/deployment/publish/FetchResults/WeatherImageGenerator.FetchResults.deps.json
/deployment/publish/FetchResults/WeatherImageGenerator.FetchResults.dll
/deployment/publish/FetchResults/WeatherImageGenerator.FetchResults.pdb
/deployment/publish/FetchResults/WeatherImageGenerator.FetchResults.runtimeconfig.json
/deployment/publish/GenerateImage/WeatherImageGenerator.GenerateImage
/deployment/publish/GenerateImage/WeatherImageGenerator.GenerateImage.deps.json
/deployment/publish/GenerateImage/WeatherImageGenerator.GenerateImage.dll
/deployment/publish/GenerateImage/WeatherImageGenerator.GenerateImage.pdb
/deployment/publish/GenerateImage/WeatherImageGenerator.GenerateImage.runtimeconfig.json
/deployment/publish/ProcessJob/WeatherImageGenerator.ProcessJob
/deployment/publish/ProcessJob/WeatherImageGenerator.ProcessJob.deps.json
/deployment/publish/ProcessJob/WeatherImageGenerator.ProcessJob.dll
/deployment/publish/ProcessJob/WeatherImageGenerator.ProcessJob.pdb
/deployment/publish/ProcessJob/WeatherImageGenerator.ProcessJob.runtimeconfig.json
/deployment/publish/StartJob/WeatherImageGenerator.StartJob
/deployment/publish/StartJob/WeatherImageGenerator.StartJob.deps.json
/deployment/publish/StartJob/WeatherImageGenerator.StartJob.dll
/deployment/publish/StartJob/WeatherImageGenerator.StartJob.pdb
/deployment/publish/StartJob/WeatherImageGenerator.StartJob.runtimeconfig.json
/deployment/publish/FetchResults/worker.config.json
/deployment/publish/GenerateImage/worker.config.json
/deployment/publish/ProcessJob/worker.config.json
/deployment/publish/StartJob/worker.config.json
